@import 'tailwindcss/preflight';

@tailwind utilities;

@theme {
  --color-background: #1f1f1f;
  --color-primary-text: #ddd;
  --color-border: #404040;
}

/* アプリ全体のベーススタイル */
html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    sans-serif;
}

button {
  font: inherit;
}
